In [1]:
import pandas as pd #importar pandas
import numpy as np

In [16]:
df = pd.read_csv("ocorrencia.csv",encoding='latin-1',sep=';',parse_dates=['ocorrencia_dia'],dayfirst=True)#le arquivo CSV mudar o encoding para latin e o separador para ; e converte campos para data e colocando o dia primeiro.
df.head()#imprimir as 5 primeiras linhas

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [44]:
df.loc[1,'ocorrencia_cidade']#busca uma determinada linha/coluna

'BELÉM'

In [45]:
df.loc[1]#busca a linha completa

codigo_ocorrencia                         40349
codigo_ocorrencia2                        40349
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                         BELÉM
ocorrencia_uf                                PA
ocorrencia_aerodromo                       SBBE
ocorrencia_dia              2010-01-03 00:00:00
ocorrencia_hora                        11:05:00
total_recomendacoes                           0
Name: 1, dtype: object

In [46]:
df.loc[1:3]#busca range de linhas

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0

In [47]:
df.loc[{10,40}]#busca duas linhas tipo lista.

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
40,39158,39158,INCIDENTE,BELÉM,PA,****,2010-01-28,16:00:00,0
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,,2010-01-10,21:30:00,0

In [48]:
df.loc[:,'ocorrencia_cidade']#buscar uma coluna completa

0           RIO DE JANEIRO
1                    BELÉM
2           RIO DE JANEIRO
3       LUCAS DO RIO VERDE
4                  PELOTAS
               ...
6109                RECIFE
6110           PORTO VELHO
6111                 BELÉM
6112            DOM AQUINO
6113              CAMPINAS
Name: ocorrencia_cidade, Length: 6114, dtype: object

In [9]:
df.codigo_ocorrencia.is_unique#verificar se determinada coluna é unica tipo CPF

True

In [13]:
df.set_index('codigo_ocorrencia',inplace=True) #mudar index tipo chave primaria usando o codigo da ocorrecia que é um valor unico tipo CPF

In [16]:
df.loc[40324]#busca a linha inteira pelo novo indice escolhido acima.

codigo_ocorrencia2                        40324
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                       PELOTAS
ocorrencia_uf                                RS
ocorrencia_aerodromo                       SBPK
ocorrencia_dia              2010-01-05 00:00:00
ocorrencia_hora                        19:25:00
total_recomendacoes                           0
Name: 40324, dtype: object

In [17]:
df.reset_index(drop=True,inplace=True)#excluir o index atual ou seja voltar para um index sequencial

In [19]:
df.loc[0,'ocorrencia_aerodromo']=''#passar os itens **** para vazio já que esse **** no CSV signifca que não tem o dado.

In [21]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [22]:
df.loc[1]=20#altera toda a linha 1 para 20

In [23]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,0
1,20,20,20,20,20,20,20,20
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,0

In [26]:
df.loc[:,'total_recomendacoes']= 10 #altera todas as linhas de determinada coluna.

In [27]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,,2010-01-03 00:00:00,12:00:00,10
1,20,20,20,20,20,20,20,10
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03 00:00:00,03:00:00,10
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04 00:00:00,17:30:00,10
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05 00:00:00,19:25:00,10

In [28]:
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf #cria uma coluna e copia para  bkp que recebe os dados de ocorrencia_uf em outra coluna

In [34]:
df['novo coluna'] = 'pao de queijo'

In [36]:
df.loc[df.ocorrencia_uf=='SP',['ocorrencia_classificacao']]='GRAVE' #preencher o dado usando um filtro

In [42]:
df.loc[df.ocorrencia_uf=='SP']#filtra a busca para Uf de SP`apenas

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp,novo coluna
11,40069,GRAVE,SÃO PAULO,SP,SBMT,2010-01-10 00:00:00,14:50:00,10,SP,pao de queijo
16,39809,GRAVE,SÃO PAULO,SP,****,2010-01-15 00:00:00,15:00:00,10,SP,pao de queijo
18,39828,GRAVE,SANTOS,SP,****,2010-01-15 00:00:00,17:45:00,10,SP,pao de queijo
26,39847,GRAVE,SOROCABA,SP,****,2010-01-20 00:00:00,13:10:00,10,SP,pao de queijo
27,39768,GRAVE,CAMPINAS,SP,****,2010-01-21 00:00:00,20:45:00,10,SP,pao de queijo
...,...,...,...,...,...,...,...,...,...,...
6084,80234,GRAVE,SÃO PAULO,SP,SBSP,2021-07-26 00:00:00,13:20:00,10,SP,pao de queijo
6085,80208,GRAVE,SÃO PAULO,SP,SBMT,2021-07-27 00:00:00,19:45:00,10,SP,pao de queijo
6104,80238,GRAVE,VOTUPORANGA,SP,SDVG,2021-08-11 00:00:00,19:09:00,10,SP,pao de queijo
6108,80244,GRAVE,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15 00:00:00,15:20:00,10,SP,pao de queijo
6113,80259,GRAVE,CAMPINAS,SP,SBKP,2021-08-18 00:00:00,12:45:00,10,SP,pao de queijo

dados que vamos limpar e suas colunas
ocorrencia_uf 
** 
ocorrencia_aerodromo
###!
####
****
*****
ocorrencia_hora
NULL

In [71]:
df.loc[df.ocorrencia_aerodromo=='****',['ocorrencia_aerodromo']]=pd.NA #substuir dados **** por NA ou seja não existeste pandas

In [65]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

In [17]:
df.replace(['**','###!','####','*****','****','NULL'], pd.NA , inplace=True)#atualizar varios dados por NA ao mesmpo tempo

In [103]:
df.loc[df.ocorrencia_hora=='S/H']

Empty DataFrame
Columns: [codigo_ocorrencia, codigo_ocorrencia2, ocorrencia_classificacao, ocorrencia_cidade, ocorrencia_uf, ocorrencia_aerodromo, ocorrencia_dia, ocorrencia_hora, total_recomendacoes]
Index: []

In [4]:
df.isna().sum()#somar numero de dados por coluna que são NA

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        2455
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [84]:
df.fillna(10)#colocar dados em todos os NAs

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,0,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,0,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,0,2021-08-18,16:00:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0

In [95]:
df.fillna(value={'ocorrencia_hora':'S/H'},inplace=True) #alterar NA para valor com filtro

In [100]:
df.replace(['S/H'], pd.NA , inplace=True)#atualizar varios dados por NA ao mesmpo tempo

C:\Users\jo_co\anaconda3\lib\site-packages\pandas\core\missing.py:47: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x

In [5]:
df['total_recomendacoes_bkp'] = df.total_recomendacoes

In [6]:
df.drop(['total_recomendacoes_bkp'])#excluir uma linha

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,total_recomendacoes_bkp
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0,0

In [8]:
df.drop(['total_recomendacoes_bkp'],axis=1,inplace=True)#excluir uma coluna

In [10]:
df.dropna()#excluir TODOS os valores não informados e exclui A LINHA toda

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2
...,...,...,...,...,...,...,...,...,...
6108,80244,80244,INCIDENTE,BRAGANÇA PAULISTA,SP,SBBP,2021-08-15,15:20:00,0
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0

In [11]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18,16:00:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0

In [12]:
df.dropna(subset=['ocorrencia_uf'])#excluir dados NA de uma coluna.

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...,...
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18,16:00:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0

In [22]:
df.drop_duplicates(inplace=True)#tirar valores duplicados

In [23]:
df.tail()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
6109,80245,80245,INCIDENTE,RECIFE,PE,SBRF,2021-08-15,15:05:00,0
6110,80247,80247,INCIDENTE,PORTO VELHO,RO,SBPV,2021-08-16,02:30:00,0
6111,80251,80251,INCIDENTE,BELÉM,PA,SBBE,2021-08-17,15:45:00,0
6112,80257,80257,ACIDENTE,DOM AQUINO,MT,<NA>,2021-08-18,16:00:00,0
6113,80259,80259,INCIDENTE,CAMPINAS,SP,SBKP,2021-08-18,12:45:00,0